
@font-face {
	font-family: 'Hannah-Regular';
	src: url('Hannah-Regular.eot?') format('eot'), 
	     url('Hannah-Regular.otf')  format('opentype'),
	     url('Hannah-Regular.woff') format('woff'), 
	     url('Hannah-Regular.ttf')  format('truetype'),
	     url('Hannah-Regular.svg#Hannah-Regular') format('svg');
}
