/******************************************************
   STYLES DE L'EDITEUR WYSIWYG
******************************************************/

@import "partials/vendor/bourbon/bourbon",
		"partials/variables",
        "partials/vendor/neat/neat";
    
$desktop: 			new-breakpoint(min-width 1200px 12);
$tablet-h: 			new-breakpoint(min-width 1024px max-width 1199px 12);
$tablet-v: 			new-breakpoint(min-width 768px max-width 1023px	8);
$mobile: 			new-breakpoint(max-width 767px 	4);

$tablet-desktop:    new-breakpoint(min-width 768px 12);
$tablet-h-desktop:    new-breakpoint(min-width 1024px 12);
@import "partials/reset",
		"partials/mixins",
		"partials/helpers",
		"partials/typo";

html, body {
    top: 0 !important;
    padding: 0 !important;
}

body { 
	background: #FFF;
	color:$clrDarkGrey;
	font-size:14px;
	line-height:1;
    font-family: $fontOpenSans;
    margin-top:20px;
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
    @include media($desktop)  {max-width:1050px;}
    @include media($tablet-h) {max-width:900px;}
    @include media($tablet-v) {max-width:700px;}
    @include media($mobile)   {max-width:100%;}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	box-sizing:border-box;
    position: relative;
    min-height: 100%;
	* {
		&,
		&:before,
		&:after {
			box-sizing:inherit;
		}
	}
}

a {
	text-decoration:underline;
    @include transition(color .25s ease);
	&:hover {
		text-decoration:none;
	}
}
p:before, p:after,
li:before, li:after {
    clear: none !important;
}

p, li {
    line-height: 23px;
}

a {color:$clrOcre;}
 
p,
table, 
ul {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:25px;
    @include media($desktop) {width:700px;max-width:1050px;}
    @include media($tablet-h) {width:700px;max-width:900px;}
    @include media($tablet-v) {width:700px;max-width:700px;}
    @include media($mobile) {width:100%;max-width:100%;margin-bottom:20px;padding-left:10px;padding-right:10px;}
}
.alignleft {
    float:left;
    margin-right:45px;
    margin-bottom:45px;
    margin-left: 0;
    @include media($mobile) {
        margin-right: auto;
        float: none;
        margin-left: auto;
        width: 100% !important;
        margin-bottom: 10px;
    }
}
a > .alignleft,
.caption.alignleft {
    margin-left: -175px;
    @include media($tablet-h) {margin-left: 0;}
    @include media($tablet-v) {margin-left: 0;}
    @include media($mobile) {
        margin-left: auto;
        max-width: 100% !important;
        width: auto !important;
        margin-right: auto;
        float: none;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        margin-bottom: 10px;
    }
}
.alignright {
   float:right;
    margin-left:45px;
    margin-bottom:45px;

    @include media($mobile) {
        float: none;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.alignright {
    margin-right: -175px;
    @include media($tablet-h) {margin-right: -100px;}
    @include media($tablet-v) {margin-right: 0;}
}
body > .mceTemp .alignright {
    margin-right: 0;
    @include media($tablet-h) {margin-right: 0;}
    @include media($tablet-v) {margin-right: 0;}
}

a > .alignright,
.caption.alignright {
    margin-right: -25%;
    @include media($tablet-h) {margin-right: -100px;}
    @include media($tablet-v) {margin-right: 0;}
    @include media($mobile) {
        margin-left: auto;
        max-width: 100% !important;
        width: auto !important;
        margin-right: auto;
        float: none;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        margin-bottom: 10px;
    }
}

.aligncenter,
.alignnone { 
    float:none;
    text-align:center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    &:not(.wp-caption){
        @include media($desktop)  {margin-left: -175px;}
        @include media($tablet-h)  {margin-left: -100px;}
    }
    @include media($mobile) {
        margin-left: auto;
        max-width: 100% !important;
        width: auto !important;
        margin-right: auto;
        float: none;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        margin-bottom: 10px;
    }
}

.wp-caption {
    position:relative;
    
}
.wp-caption-dd {
    position: absolute;
    bottom: 0;
    text-align: left;
    left: 0;
    right: 0;
    padding: 20px 15px;
    color: white;
    pointer-events: none;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.4;

}
table {
    clear:both;
    margin-left: auto;
    margin-right: auto;
    .alignleft,
    .alignright,
    .aligncenter,
    .alignnone {
        margin-left:0;
        margin-bottom:0;
    }
    tr:not(:first-child) td {padding-top: 5px;}
    td + td {padding-left: 5px;}
    @include media($mobile) {
        margin-left: auto;
        max-width: 100% !important;
        width: auto !important;
        margin-right: auto;
        float: none;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        margin-bottom: 10px;
    }
}
span .alignleft,
span .alignright {
    @include media($mobile) {margin-top:20px;}
}
.caption.alignleft img,
.caption.alignright img,
.caption.aligncenter img,
.caption.alignnone img {
    @include media($mobile) {width:100%;}
}
figure.single--caption {
    position:relative;
    figcaption {
        position:absolute;
        bottom:0;
        text-align: left;
        left:0;
        right:0;
        padding:20px 15px;
        color:white;
        pointer-events: none;
        .caption--title {
            font-family: $fontOswald;
            font-size:14px;
            text-transform: uppercase;
            line-height: 1.4;
        }
        .caption--description {
            font-size:11px;
            line-height: 14px;
            margin-top: 6px;
        }
        @include media($mobile) {
            margin-left:10px;
            margin-right:10px;
        }
    }
}
li {
    list-style-type: disc;
    list-style-position: inside;
}
li + li {margin-top:10px;}
.tiled-gallery + br {
    display:none;
}
.tiled-gallery {
    @include media($mobile) {
        margin-bottom:0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .gallery-row {
        margin-left:auto;
        margin-right:auto;
    }
    img {
        @include media($mobile) {
            margin:0 !important;
            padding-bottom: 10px !important;
        }
    }
}
.tiled-gallery, 
.tiled-gallery * {
    @include media($mobile) {
        max-width: 100%;
        width:auto !important;
        height: auto !important;
    }
}

h2 {
    font-family: $fontStint;
    text-transform:uppercase;
    font-size:40px;
    font-weight:400;
    margin-bottom:40px;
    @include media($mobile) {
        margin-top:30px;
        margin-bottom:20px;
        font-size: 31px;
    }
    @include container(medium, false, true, false);
    &:before {
        @extend .icon;
        @extend .icon-arabesque:before;
        color:$clrTurquoise;
        background:white;
        margin-top: -8px;
        width: 42px;
        margin-right: 15px;
        height: auto;
        display: inline-block;
    }
}
h3 {
    font-family: $fontStint;
    font-size:38px;
    font-weight:400;
    display: table;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 40px;
    @include container(medium, false, true, false);
    @include media($mobile) {
        margin-bottom:20px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
    }
    &:after {
        background: url(assets/images/dot-separator.png) repeat-x left center;
        content: '';
        display: table-cell;
        position: relative;
        top: 2px;
        height:11px;
        left: 55px;
        width: 100%;
    }
    &:before {
        background: url(assets/images/dot-separator.png) repeat-x left center;
        content: '';
        height:38px;
        display: inline-block;
        top:2px;
        width:29px;
        float: left;
        margin-right: 15px;
    }
}

h4 {
    font-family: $fontOswald;
    font-size:18px;
    text-transform: uppercase;
    color:$clrTurquoise;
    margin-bottom:20px;
    font-weight: normal;
    @include container(medium, false, true, false);
    @include media($mobile) {
        margin-top:20px;
        margin-bottom:10px;
    }
}
h5 {
    font-family: $fontOswald;
    font-size:16px;
    text-transform: uppercase;
    color:$clrOcre;
    margin-bottom: 20px;
    font-weight:normal;
    @include container(medium, false, true, false);
}

hr {
    border:0;
    outline:0;
    height:32px;
    background:url('assets/images/sep.png') no-repeat center center;
    margin-bottom: 50px;
    @include media($mobile) {margin-bottom:30px;}
    @include container(large, false, true);
    &.dotted {
        background:url('assets/images/sep2.png') repeat center center;
        height:6px;
        margin-top: 50px;
    }
    &.arabesque { 
        background:url('assets/images/arabesque-small.png') no-repeat center center;
        height:32px;
        margin-top: -20px;
        margin-bottom: 20px;
    } 
    &.blank { 
        background: none;
        margin-bottom: 20px;
    } 
}

.txt-ocre {color:$clrOcre;}
.txt-turquoise {color:$clrTurquoise;}
.ul-star {
    li {
        list-style-type: none;
        &:before {
            content:"★";
            margin-right: 5px;
        }
    }
}