/*
Theme Name: French Fries and Apple Pie 2015
Author: Charline Couchot
Author URI: http://www.charlinecouchot.fr
Description: Thème de refonte 2015 du site French Fries and Apple Pie
Version: 1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ffap-2015
*/

@import "partials/vendor/bourbon/bourbon",
		"partials/variables",
        "partials/vendor/neat/neat";
    
$desktop: 			new-breakpoint(min-width 1200px 12);
$tablet-h: 			new-breakpoint(min-width 1024px max-width 1199px 12);
$tablet-v: 			new-breakpoint(min-width 768px max-width 1023px	8);
$mobile: 			new-breakpoint(max-width 767px 	4);

$tablet-desktop:    new-breakpoint(min-width 768px 12);
$tablet-h-desktop:    new-breakpoint(min-width 1024px 12);
@import "partials/reset", 
		"partials/mixins",
		"partials/helpers",
		"partials/typo",
		"partials/base",
		
		"partials/header",
		"partials/footer", 
		"partials/vendor/fancybox", 
		
		"partials/index",
		"partials/single", 
		"partials/fullwidth", 
        "partials/archives",
        "partials/faq",
        "partials/links",
        "partials/aboutus";