@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

.attachments.ui-sortable .describe {
    display:none !important;
}

.media-modal .media-sidebar .setting input[type="checkbox"] {
    margin: 11px 0 0px 5px !important;
} 
.mce-i-h2-before {
    width: 42px;
    height: 42px;
    line-height: 39px !important;
    margin-right: 9px;
    font-size:42px;
}
.mce-i-h2-before:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e80d';
    color: #18a096;
    width: 42px;
    height: auto;
}



.mce-i-h2-before + span {
    color:#333333 !important;
}

.mce-i-h3-before + span {
    display: table;
    white-space: nowrap;
    margin-top: -20px;
    color:#333333 !important;
    overflow: hidden;
}
.mce-i-h3-before + span:after {
    background: url(images/dot-separator.png) repeat-x left center;
    content: '';
    display: table-cell;
    position: relative;
    top: 0px;
    height: 11px;
    left: 16px;
    width: 83px;
}
.mce-i-h3-before + span:before {
    background: url(images/dot-separator.png) repeat-x left center;
    content: '';
    height:43px;
    display: inline-block;
    top:2px;
    width:29px;
    float: left;
    margin-right: 15px;
}
 

.mce-i-h4-before + span {color:#18a096 !important;}
.mce-i-h5-before + span {color:#c79200 !important;}

.mce-i-h3-before,
.mce-i-h4-before,
.mce-i-h5-before {
    display: none !important;
}
.mce-stack-layout-item:hover  .mce-i-h2-before:before,
.mce-stack-layout-item.active .mce-i-h2-before:before,
.mce-stack-layout-item:hover  .mce-i-h2-before + span,
.mce-stack-layout-item.active .mce-i-h2-before + span,
.mce-stack-layout-item:hover  .mce-i-h3-before + span,
.mce-stack-layout-item.active .mce-i-h3-before + span,
.mce-stack-layout-item:hover  .mce-i-h4-before + span,
.mce-stack-layout-item.active .mce-i-h4-before + span,
.mce-stack-layout-item:hover  .mce-i-h5-before + span,
.mce-stack-layout-item.active .mce-i-h5-before + span {color:white !important;}