
@font-face {
	font-family: 'Dakota';
	src: url('Dakota.eot?') format('eot'), 
	     url('Dakota.woff') format('woff'), 
	     url('Dakota.ttf')  format('truetype'),
	     url('Dakota.svg#Dakota') format('svg');
}
