/******************************************************
	 STYLES DES PAGES ON PARLE DE NOUS
******************************************************/

.page--aboutus {
    .fullwidth-content--container {
        @include container(large, false, true);
    }
    .grid-item {
        float: left;
        @include media($mobile) {
            float:none;
        }
    }
    .grid-sizer,
    .grid-item { 
        width: 49%;
        @include media($mobile) {
            width:100%;
            margin-bottom: 20px;
        }
    }
    .gutter-sizer { 
        width: 2%; 
        @include media($mobile) {
            display:none;
        }
    }
    .grid-item--small { 
        width: 39%; 
        @include media($mobile) {
            width:100%;
        }
    }
    .grid-item--big { 
        width: 59%; 
        @include media($mobile) {
            width:100%;
        }
    }
    
    
    .reference--item { position:relative }
    .reference--img {}
    .reference--item_img {width: 100%;}
    .reference--details {}
    .reference--title {}
    .reference--excerpt {
        font-size:12px;
        font-family: $fontOpenSans;
    }
    .reference--date {}
    .reference--blog {
        &:before {
            content:" - "
        }
    }
    
    

    .reference--item {
        vertical-align: top;
        position:relative;
        overflow:hidden;
    }
    .reference--details {
        position:absolute;
        width:100%;
        bottom:0;
        font-size:17px;
        color:white;
        padding:10px 15px;
        font-weight:400;
        background-color:rgba(0,0,0,0.7);
        a {
            color:inherit;
            text-decoration: none;
        }
    }
    .reference--title {
        font-weight:400;
        text-transform:uppercase;
        font-family: $fontOswald;
        font-size: 14px;
        line-height: 1.2em;
        color:white;
        background: none;
        margin-bottom: 5px;
        
        &:before{content:none;}
        
    }
}