/******************************************************
	 STYLES DE LA PAGE D'ARCHIVES
******************************************************/

.archive--title {
    font-family: $fontStint;
    font-size:50px;
    text-transform: uppercase;
    background-color:white;
    text-align:center;
    position: relative;
    font-weight: 400;
    margin-bottom: 55px;
    background: url(assets/images/dot-separator.png) repeat-x left center;
    span {
        background-color: white;
        padding: 5px 15px 5px 10px;
    }
}

.year-title--wrapper {
    text-align:center;
    font-family: $fontOswald;
    text-align:center;
    text-transform: uppercase; 
    margin-bottom:30px;
}
.year-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 58px;
    a {text-decoration:none;}
}
.year-title--count {
    font-size:13px;
}
.archive-section {
    @include clearfix;
    a {text-decoration: none;}
}
.archive-section--item {
    @include span-columns(2.4 of 12);
    @include omega(5n);
    margin-bottom:45px;
    border-top:2px solid $clrOcre;
}

.archive-section--item_categories {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 11px;
    z-index:1;
    span {
        margin: 0 auto;
        display: inline-block;
        padding: 6px 8px;
        font-size: 11px;
        text-transform: uppercase;
        font-family: $fontOswald;
        background-color:$clrOcre;
        color:$clrWhite;
    }
}
.archive-section--item_hover {
    font-family: $fontOswald;
    color:black;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color:rgba(255,255,255,0.75);
    text-align: center;
    padding:32px 15px;
    z-index:0;
    opacity:0;
    @include transition(opacity .25s ease);
    &:before,
    &:after {
        
        position: absolute;
        content: '';
        opacity: 0;
        @include transition(opacity .25s ease, transform 0.25s ease);
    }
    &:before {
        top: 5px;
        right: 0px;
        bottom: 5px;
        left: 0px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;   
    }
    &:after {
        top: 0px;
        right: 5px;
        bottom: 0px;
        left: 5px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
}

.archive-section--item_date {
    text-transform: uppercase;
    font-size:13px;
    margin-bottom:10px;
    @include transform(translate3d(0,-30px,0));
    @include transition(opacity .25s ease, transform 0.25s ease);
}
.archive-section--item_excerpt {
    font-weight: 300;
        font-size: 14px;
    line-height: 18px;

    @include transform(translate3d(0,-10px,0));
    @include transition(opacity .25s ease, transform 0.25s ease);
}
.archive-section--item_header {
    position: relative;
    &:hover {
        .archive-section--item_hover,
        .archive-section--item_date,
        .archive-section--item_excerpt {
            opacity:1;
        }
        .archive-section--item_date,
        .archive-section--item_excerpt  {
            @include transform(translate3d(0,0,0));
        }
        .archive-section--item_excerpt {
            
        }
        .archive-section--item_hover:after,
        .archive-section--item_hover:before {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }
    }
    
}
.archive-section--item_comments {
    position:absolute;
    bottom:0;
    right:0;
    text-align: center;
    padding: 5px 4px;
    width: 41px;
    height: 24px;
    background-color:$clrOcre;
    color:$clrWhite;
    font-family: $fontOswald;
    font-size:13px;
    z-index:1;
    i {font-size: 120%;}
}
.archive-section--item_img img {display: block;}
.archive-section--item_title {
    margin-top:10px;
    font-family:$fontStint;
    font-weight:400;
    text-transform: uppercase;
    text-align:center;
    line-height: 1.2;
    font-size:22px;
}