/******************************************************
	 BASES DE STYLES ET STYLES DE BASE
******************************************************/

/* Structure
---------------------------------------------------- */
html, body {
    height: 100%;
    top: 0 !important;
    padding: 0 !important;
}

body {
	background: #FFF;
	color:$clrDarkGrey;
	font-size:14px;
	line-height:1;
    font-family: $fontOpenSans;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	box-sizing:border-box;
    position: relative;
    min-height: 100%;
    z-index: -1;
	* {
		&,
		&:before,
		&:after {
			box-sizing:inherit;
		}
	}
}

@media print {
	body {
		margin: 0;
		padding: 0;
	}
	
	footer {
		display: none;
	}
}

a {
	text-decoration:none;
    @include transition(color .25s ease);
	&:hover {
		text-decoration:none;
	}
}

.page {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 50px #929292;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    @include media($desktop) {
        max-width: 1200px;
        box-sizing:border-box;
    }
	a {
		color:inherit;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}



.header, .footer {
	display: table-row;
    height: 1px;
}

.body {
    display: table-row;
    height: auto;   
}

.body--container {
    overflow:hidden;
    padding-bottom:35px;
    @include media($mobile) {padding-bottom:0}
}
.fullwidth-content {
    padding-left:20px;
    padding-right:20px;
    position:relative;
    z-index:98;
}
.main-content,
.page-content {
    padding-left:20px;
    position:relative;
    z-index:98;
    @include media($desktop) {@include span-columns(8.7);}
    @include media($tablet-h) {@include span-columns(8.7);}
    @include media($tablet-v) {@include span-columns(5.5);}
    @include media($mobile) {padding-left:10px;padding-right:10px;}
}
.page-content,
.fullwidth-content{
    @include media($mobile) {
        padding-top:30px;
        padding-left:0px;
        padding-right:0px;
    }
}
.sidebar {
    padding-right:20px;
    padding-left:20px;
    border-left:1px dashed #CCCCCC;
    position:relative;
    z-index:99;
    margin-top: -42px;
    margin-bottom:50px;
    @include media($desktop) {@include span-columns(3.2);}
    @include media($tablet-h) {@include span-columns(3.2);}
    @include media($tablet-v) {@include span-columns(2.5);}
    @include media($mobile) {
        padding-left:10px;
        padding-right:10px;
        margin-top:20px;
        margin-bottom: 80px;
    }
}

.wpmchimpa-overlay-bg.wpmchimpselector {
  background-color:rgba(255,255,255,0.9) !important;
  
}
.wpmchimpa-overlay-bg #wpmchimpa .wpmchimpa_para,
.wpmchimpa-overlay-bg #wpmchimpa .wpmchimpa_para * {
  color:#4D4D4D !important;
}

.wpmchimpa-overlay-bg #wpmchimpa .wpmchimpa-field select,
.wpmchimpa-overlay-bg #wpmchimpa input[type="text"] {
  border: 1px solid #BFBFBF !important;
}

.wpmchimpa-overlay-bg .wpmchimpa-close-button {
  background-color:#FFF !important;
  border:0 !important;
}