/******************************************************
	 STYLES DES PAGES FAQ
******************************************************/

.page--faq {
    
    li {list-style: none;}
    
    .page--faq_intro {
        margin-bottom: 30px;
        .question--item {
            
        }
    } 
    
    .page--faq_summary {
        margin-bottom: 50px;
        li + li {margin-top: 10px;}
        
        .question--item_title {
            &:before {
                content:"★";
                margin-right: 5px;
                height: auto;
                display: inline-block;
                color:$clrDarkGrey;
            }
        }
    }
    
    .page--faq_questions {
        .question--item + .question--item {
            margin-top: 60px;
        }
        .question--item_title {
            font-family: $fontOswald;
            font-size: 22px;
            line-height: 1.25em;
            color:$clrTurquoise;
            margin-bottom: 20px;
            &:before {content:none;}
        }
        .question--item_answer {
            
        }
    }
}