/******************************************************
   Pied de page
******************************************************/

.footer {
    .footer--outercontainer {position: relative;}
    .footer--container {
        @include clearfix;
        background-color:$clrLightGrey;
        color:white;
        font-family: $fontOswald;
        font-size:17px;
    }
    .left {
        padding:20px 10px;
        font-size: 13px;
        line-height: 26px;
        font-weight: 300;
        @include media($mobile) {
            float:none !important;
            text-align: center;
            padding-bottom: 0;
            padding-top: 42px;
        }
    }
    ul {
        float:right;
        text-align: right;
        @include media($tablet-v) {
            width: -webkit-calc(50% - 80px);
            width: calc(50% - 80px);
        }
        @include media($mobile) {
            float:none;
            text-align: center;
        }
        li {
            padding:20px 10px;
            display:inline-block;
            @include media($tablet-v) {padding:20px 10px;}
            @include media($mobile) {
                &:first-child a:before {content:'';}
            }
        }
        li + li {
            margin-left:40px;
            @include media($tablet-v) {margin-left: 25px;}
            @include media($mobile) {margin-left: 16px;}
        } 
        a {
            font-family: $fontStint;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 22px;
            position: relative;
            display: inline-block;
            @include media($tablet-v) {font-size: 17px;}
            @include media($mobile) {font-size: 19px;}
            
            &:before { 
                position:absolute;
                left: -37px;
                top: -4px;
                font-size: 29px;
                @extend .icon;
                @extend .icon-arabesque:before;
                @include media($tablet-v) {
                    left: -33px;
                    top: -4px;
                    font-size: 24px;
                }
                @include media($mobile) {
                    left:-31px;
                    font-size:23px;
                }
            }
            &:hover {text-decoration:underline;}
            &:hover:before {text-decoration:none;}
            
        }
    } 
    .footer--logo {
        background:url('assets/images/header--logo.png') no-repeat top center;
        margin:0 auto;
        width:110px;
        position:absolute;
        height: 110px;
        top: -55px;
        background-size: 100% 100%;
        -webkit-filter: drop-shadow(0px 0px 5px black) grayscale(1);
        -moz-filter: drop-shadow(0px 0px 5px black) grayscale(100%);
        filter: drop-shadow(0px 0px 5px black) grayscale(100%); 
        @include calc(left, "50% - 55px");
    }
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9980;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #18a096;
    color: white !important;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none !important;
    opacity: 0;
    
    @include transition(all 0.25s ease);
    &.show {opacity: 0.5;}
    &.show:hover {opacity: 1;}
    &:before {
        @extend .icon;
        @extend .icon-up-open:before;
    }
}

.cookieChoiceInfo {
    position:fixed;
    width:100%;
    background-color: rgba(72, 72, 72, 0.89);
    margin:0;
    left:0;
    padding: 5px 10px;
    z-index: 9981;
    text-align:center;
    color: white;
    line-height: 1.5;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.cookieChoiceInfo a {
  color: #CFA020;
  }

.cookieChoiceInfo > div {
    padding-right:40px;
}
.cookieChoiceDismiss {
    margin-left: 6px;
    display: none;
}
.cookieInfoLink {
    margin-left:8px;
    display: inline-block;
}
.cookieChoiceDismissIcon {
    width: 34px;
    height: 100%;
    background-size: 20px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-position: 46% 5px;
    background-repeat: no-repeat;
    background-image: url('assets/images/close-cookie.png');
}