/******************************************************
	 STYLES DE LA PAGE PLEINE LARGEUR
******************************************************/

.page--title {
    font-family: $fontStint;
    font-size:50px;
    text-transform: uppercase;
    background-color:white;
    position: relative;
    font-weight: 400;
    margin-bottom: 55px;
    margin-top: -10px;
    background: url(assets/images/dot-separator.png) repeat-x left center;
    span {
        background-color: white;
        padding: 5px 15px 5px 10px;
    }
}

.fullwidth-content .page--title {
    text-align:center;
    margin-top: 0;
}

.fullwidth-content--container {
    @include container(medium, false, true);
    &:not(.small-margin){margin-bottom:100px;}
    &.small-margin{margin-bottom:50px;}
     
    .required {color:$clrTurquoise;}
    > p, li {
        margin-left:auto;
        margin-right:auto;
        line-height: 23px;
    }
    
    a {color:$clrOcre;}
        
    > p,
    > table, 
    > ul {
        margin-bottom:40px;
    }
    li {
        list-style-type: disc;
        list-style-position: inside;
    }
    li + li {margin-top:15px;}
    
    h2 {
        font-family: $fontStint;
        text-transform:uppercase;
        font-size:40px;
        font-weight:400;
        margin-bottom:40px;
        &:before {
            @extend .icon;
            @extend .icon-arabesque:before;
            color:$clrTurquoise;
            background:white;
            margin-top: -8px;
            width: 42px;
            margin-right: 15px;
        }
    }
    h3 {
        font-family: $fontStint;
        font-size:38px;
        font-weight:400;
        background: url(assets/images/dot-separator.png) repeat-x left center;
        margin-bottom:30px;
        span {
            background-color: white;
            padding: 5px 15px 5px 0;
        }
    }
    h4 {
        font-family: $fontOswald;
        font-size:18px;
        text-transform: uppercase;
        color:$clrTurquoise;
        margin-bottom:20px;
        font-weight: normal;
    }
    h5 {
        font-family: $fontOswald;
        font-size:16px;
        text-transform: uppercase;
        color:$clrOcre;
        margin-bottom: 20px;
        font-weight:normal;
    }
     hr {
        border:0;
        outline:0;
        height:32px;
        background:url('assets/images/sep.png') no-repeat center center;
        margin-bottom: 50px;
        @include media($mobile) {margin-bottom:30px;}
        @include container(large, false, true);
        &.dotted {
            background:url('assets/images/sep2.png') repeat center center;
            height:6px;
            margin-top: 50px;
        }
        &.arabesque { 
            background:url('assets/images/arabesque-small.png') no-repeat center center;
            height:32px;
            margin-top: -20px;
            margin-bottom: 20px;
        } 
        &.blank { 
            background: none;
            margin-bottom: 20px;
        } 
    }
    .txt-ocre {color:$clrOcre;} 
    .txt-turquoise {color:$clrTurquoise;}  
    .ul-star {
        li {
            list-style-type: none;
            &:before {
                content:"★";
                margin-right: 5px;
            }
        }
    }
}
.links-content--container {
    @include container(medium, false, true);
    &:not(.small-margin){margin-bottom:100px;}
    &.small-margin{margin-bottom:50px;}
    > p, li {
        margin-left:auto;
        margin-right:auto;
        line-height: 23px;
    }
    
    a {color:$clrOcre;}
        
    > p,
    > table, 
    > ul {
        margin-bottom:40px;
    }
    li {
        list-style-type: disc;
        list-style-position: inside;
    }
    li + li {margin-top:15px;}
}
.contact-form {
    margin-top:30px;
    @include clearfix;
}

.contact-form label {
    font-family: $fontOswald;
    font-size:17px;
    color:$clrDarkGrey;
    text-transform: uppercase;
    margin-bottom:7px !important;
    font-weight:400 !important;
}
.contact-form input:not([type="submit"]),
.contact-form textarea {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px;
    margin-bottom: 0 !important;
    font-family: $fontOpenSans;
    border:1px solid #d5d5d5;
}
.contact-form div + div {
    margin-top:30px;
}

.contact-form .contact-submit {
    text-align:right;
    margin-top:30px;
    .pushbutton-wide {
        background-color:$clrTurquoise;
        color:white;
        border:none;
        font-family: $fontOswald;
        text-transform: uppercase;
        padding: 8px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        &:hover {
            background-color:$clrTurquoiseActive;
        }
    }
}

.content--container {
    > p:before, > p:after,
    li:before, li:after {
        clear: none !important;
    }
    
    > p, li {
        line-height: 23px;
    }
    
    a {color:$clrOcre;}
    
    .single--media {display:block;text-align: center;} 
    
    > p,
    > .single--media,
    > .single--caption,
    > table, 
    > ul,
    > iframe {
        margin-bottom:40px;
        @include media($mobile) {margin-bottom:20px;}
    }
    > img.aligncenter,
    > img.alignnone {
        margin-bottom:40px;
        @include media($mobile) {margin-bottom:20px;}
    }
    .alignleft {
        float:left;
        margin-right:40px;
        margin-bottom:40px;
        @include media($mobile) {
            margin-right: auto;
            float: none;
            margin-left: auto;
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
    > a > .alignleft,
    > .caption.alignleft {
        margin-right:40px;
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    .alignright {
       float:right;
        margin-bottom:45px;
        margin-left:40px;
        @include media($mobile) {
            float: none;
            margin-right: auto !important;
            margin-left: auto !important;
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
    > a > .alignright,
    > .caption.alignright {
        margin-left:40px;
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    
    > .aligncenter,
    > .alignnone,
    iframe {
        float:none;
        text-align:center;
        display:block;
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    table {
        .alignleft,
        .alignright,
        .aligncenter,
        .alignnone {
            margin-left:0;
            margin-bottom:0;
        }
        tr:not(:first-child) td {padding-top: 5px;}
        td + td {padding-left: 5px;}
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    span .alignleft,
    span .alignright {
        @include media($mobile) {margin-top:20px;}
    }
    figure.single--caption {
        position:relative;
        figcaption {
            position:absolute;
            bottom:0;
            text-align: left;
            left:0;
            right:0;
            padding:20px 15px;
            color:white;
            pointer-events: none;
            .caption--title {
                font-family: $fontOswald;
                font-size:14px;
                text-transform: uppercase;
                line-height: 1.4;
            }
            .caption--description {
                font-size:11px;
                line-height: 14px;
                margin-top: 6px;
            }
            @include media($mobile) {
                margin-left:10px;
                margin-right:10px;
            }
        }
    }
    li {
        list-style-type: disc;
        list-style-position: inside;
    }
    li + li {margin-top:10px;}
    .tiled-gallery + br {
        display:none;
    }
    .tiled-gallery {
        margin-bottom:40px;
        @include media($mobile) {
            margin-bottom:0;
            padding-left: 10px;
            padding-right: 10px;
        }
        .gallery-row {
            margin-left:auto;
            margin-right:auto;
        }
        img {
            @include media($mobile) {
                margin:0 !important;
                padding-bottom: 10px !important;
            }
        }
    }
    .tiled-gallery, 
    .tiled-gallery * {
        @include media($mobile) {
            max-width: 100%;
            width:auto !important;
            height: auto !important;
        }
    }
    
    h2 {
        font-family: $fontStint;
        text-transform:uppercase;
        font-size:40px;
        font-weight:400;
        margin-bottom:40px;
        @include media($mobile) {
            margin-top:30px;
            margin-bottom:20px;
            font-size: 31px;
        }
        &:before {
            @extend .icon;
            @extend .icon-arabesque:before;
            color:$clrTurquoise;
            background:white;
            margin-top: -8px;
            width: 42px;
            margin-right: 15px;
            height: auto;
            display: inline-block;
        }
    }
    > h3 {
        font-family: $fontStint;
        font-size:38px;
        font-weight:400;
        display: table;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 40px;
        @include media($mobile) {
            margin-bottom:20px; 
            padding-left: 0;
            padding-right: 0;
            margin-left: 10px;
            margin-right: 10px;
            width: auto;
        }
        &:after {
            background: url(assets/images/dot-separator.png) repeat-x left center;
            content: '';
            display: table-cell;
            position: relative;
            top: 2px;
            height:11px;
            left: 55px;
            width: 100%;
        }
        &:before {
            background: url(assets/images/dot-separator.png) repeat-x left center;
            content: '';
            height:38px;
            display: inline-block;
            top:2px;
            width:29px;
            float: left;
            margin-right: 15px;
        }
    }
    h4 {
        font-family: $fontOswald;
        font-size:18px;
        text-transform: uppercase;
        color:$clrTurquoise;
        margin-bottom:20px;
        font-weight: normal;
        @include media($mobile) {
            margin-top:20px;
            margin-bottom:10px;
        }
    }
    h5 {
        font-family: $fontOswald;
        font-size:16px;
        text-transform: uppercase;
        color:$clrOcre;
        margin-bottom: 20px;
        font-weight:normal;
    }
    
    hr {
        border:0;
        outline:0;
        height:32px;
        background:url('assets/images/sep.png') no-repeat center center;
        margin-bottom: 50px;
        @include media($mobile) {margin-bottom:30px;}
        &.dotted {
            background:url('assets/images/sep2.png') repeat center center;
            height:6px;
            margin-top: 50px;
        }
        &.arabesque { 
            background:url('assets/images/arabesque-small.png') no-repeat center center;
            height:32px;
            margin-top: -20px;
            margin-bottom: 20px;
        } 
    }
}