/******************************************************
   Entête
******************************************************/
.header {
    @include media($mobile) {position:relative;}
}
.header--smallnav,
.header--mainnav {
    @include clearfix;
}
.header--smallnav {
    margin-top:5px;
    margin-bottom:10px;
    @include media($tablet-v) {margin-bottom:0;}
    @include media($mobile) {margin-top:130px;}
}
.header--smallnav ul {
	background: $clrTurquoise;
    float: right;
    position:relative;
    padding-left:30px;
    &:after {
        left: 0;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-left-color: $clrWhite;
        border-width: 13px;
        margin-top: -13px;
    }
    li {
        float:left;
        padding:3px 10px 2px;
        &:last-child {padding-right:10px}
    }
    a {
        color:$clrWhite;
        font-family:$fontStint;
        font-size:20px;
        text-decoration: none;
        line-height: 21px;
        text-transform: uppercase;
    }
     @include media($mobile) {
        background-color: white;
        text-align: center;
        padding-left:0;
        float:none;
        a {color:$clrMediumGrey;font-size:18px;letter-spacing: -0.4px;}
        li {display: inline-block;float:none;padding: 3px 5px 2px;}
        li:first-child {padding-left: 0;}
        li:last-child {padding-right: 0;}
        &:after {content:none}
    }
}
#sticky-wrapper {width:100% !important;height: auto !important;}
.header--mainnav { 
    max-width: 1200px;
    width: 100% !important;
    margin-top: 70px;
    position:relative;
    @include clearfix;
    @include media($tablet-v) {
        margin-top: 45px;
    }
    @include media($mobile) {
        margin-top:5px;
    }
    nav {
	    display: flex; 
	    justify-content: space-between;
        border:4px solid;
        border-image-source:url('assets/images/mainnav--border.png');
        border-image-slice: 5;
        border-image-width: 5px;
        border-image-repeat: round;
        border-left:0;
        border-right:0;
        background-color:$clrWhite;
        position:relative;
        @include media($tablet-v) {
            float: left;
            width: 100%;
            padding-left: 80px;
        }
        @include media($mobile) {
            width: 100%;
            padding-left: 10px;
            border:0;
        }
        
        > div {
            width: 42%;
            display: flex;
            justify-content: space-around;
            @include transition(width .25s ease);
            @include media($tablet-v) {
                width: 100%;
                margin-right:55px;
                &.header--mainnav_right {display:none;}
            }
            @include media($mobile) {
                width: 100%;
                margin-right: 55px;
                &.header--mainnav_right {display:none;}
            }
        }
        
    } 
}
.scroll .header--mainnav {
    margin-top: -5px;
    z-index: 8000;
    nav {
        border-top:0;
        @include media($tablet-v) {
            padding-left:140px;
        }
        > div {
            width: 45%;
            @include media($tablet-v) {width:100%;}
            @include media($mobile) {width:100%;}
        }
    }
}

.header--mainnav_left {text-align: right;}
.header--mainnav_right {text-align: left;}

.header--mainnav_part > ul {
    width: 100%;
    @include media($mobile) {
        margin-bottom:10px;
    }
    > li {
        display:inline-block;
        padding:15px 0;
        margin:0 15px;
        position: relative;
        @include transition(all .25s ease);
        @include media($tablet-v) {
            margin:0 10px;
        }
        @include media($mobile) {
            display:block;
            text-align: left;
            padding: 7px 0;
            margin: 0;
        }
        @include media($tablet-desktop) {
            &:after {
                content: " ";
                width: 0;
                height: 5px;
                display: block;
                position: absolute;
                bottom: -4px;
                left: 43%;
                background-color: $clrMediumGrey;
                @include transition(width 0.25s ease, left 0.25s ease);
            }
            &:hover > a {
                color:$clrTurquoise;
            }
            &:hover:after {
                width: 100%;
                z-index: 8000;
                left: 0;
            }
        }
        &.menu-item-has-children {
            @include media($tablet-desktop) {
                &:hover > ul {
                    visibility: visible;
                    opacity: 1;
                    top: 61px;
                }
                > ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    z-index: 8000;
                    width: 215px;
                    left: 0;
                    top: 80px;
                    text-align:left;
                    border-left: 1px solid $clrMediumGrey;
                    border-top: 1px solid $clrMediumGrey;
                    border-right: 1px solid $clrMediumGrey;
                    @include transition(all .25s ease);
                    &:before {
                        position: absolute;
                        left: 10px;
                        content: "";
                        border-style: solid;
                        border-width: 7px 8px 0 8px;
                        border-color: $clrMediumGrey transparent transparent transparent;
                    }
                    > li > a {
                        font-family:$fontOswald;
                        font-size:16px;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding:9px 13px;
                        background-color:$clrWhite;
                        border-bottom: 1px solid $clrMediumGrey;
                        display:block;
                        &:hover {
                            background-color:darken($clrWhite, 5%);
                        }
                    }
                }
            }
            @include media($tablet-v) {
                &:hover > ul {
                    top: 58px;
                }
            }
            @include media($mobile) {
                > ul {display:none;}
                > ul > li {margin:8px 0 8px 8px;}
            }
        }
    }
    > li > a,
    > li > span > a {
        color:$clrGrey;
        font-family:$fontStint;
        font-size:28px;
        text-decoration: none;
        text-transform: uppercase;
        @include media($tablet-v) {font-size:22px;}
        @include media($mobile) {
            font-size:17px;
            font-family: $fontOswald;
            font-weight: 300;
        }
    }
    @include media($tablet-desktop) {
        i {display: none;}
    }
    @include media($mobile) {
        > li > span {margin-right:8px;}
        i {
            display:inline-block;
            vertical-align: middle;
            margin-top: -8px;
            color:#8E8E8E;
        }
    }
}
.scroll .header--mainnav_part > ul > li {
    @include media($desktop) {
        padding:15px 0 9px;
        margin:0 20px;
    }
    @include media($tablet-h) {
        padding:15px 0 9px;
        margin:0 20px;
    }
    @include media($tablet-v) {margin:0 10px;}

}
.scroll .menu-item-has-children:hover > ul {
    @include media($desktop) {top:55px !important;}
    @include media($tablet-h) {top:55px !important;}
    @include media($tablet-v) {top:58px !important;}
}

.header--mainnav_logo {
    width: 180px;
    height: 180px;
	position: absolute;
    z-index: 8000;
    top:100px;
    @include calc(left, "50% - 90px");
    @include media($tablet-v) {
        left:20px;
        height:140px;
        top:33px;
    }
    @include media($mobile) {
        height:110px;
        top: 9px;
        
    }
    a, h1 {font-size:0 !important;}
    a {display:block;}
    span { 
        background: url('assets/images/header--logo.png') no-repeat center center;
        background-size: 100% 100%;
        width:179px;
        height:179px;
        text-decoration:none;
        margin:0 auto;
        @include transition(opacity .25s ease);
        @include media($tablet-v) {
            width:140px;
            height:140px;
            margin-top:-70px;
        }
        @include media($mobile) {
            width:110px;
            height:110px;
        }
        &.full {
            display:block;
            opacity:1;
            @include media($tablet-h) {margin-top:-155px;}
            @include media($desktop) {margin-top:-155px;}
        }
        &.small {
            background: url('assets/images/header--logo_responsive.png') no-repeat center center;
            background-size: 100% 100%;
            width:110px;
            height:72px;
            opacity:0;
            position: relative;
            top: 0;
            
        }
    }
} 
.scroll .header--mainnav_logo {
    height:72px;
    top:5px;
    @include media($desktop) {margin-top:0px;}
    a span.full {
        opacity:0;
        display:none;
    }
    a span.small {
        display:block;
        opacity:1;
        @include media($mobile) {display:none;}
    }
}

.header--mainnav_responsive {
    @include media($mobile) {
        border:4px solid;
        border-image-source:url('assets/images/mainnav--border.png');
        border-image-slice: 5;
        border-image-width: 5px;
        border-image-repeat: round;
        border-left:0;
        border-right:0; 
    }
}
.header--mainnav_responsive-header {
    display:none;
    @include media($mobile) {
        display:block;
        font-family: $fontStint;
        font-size:18px;
        color:$clrMediumGrey;
        padding: 13px 10px;
        background: white;
        i {vertical-align: middle;}
        span {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            font-size:23px;
            text-transform: uppercase;
        }
    }
}
.header--mainnav_collapsed {
    @include media($mobile) {display: none;}
}
.no-js {
    .header--mainnav_logo {margin-left: 20px;}
    .header--mainnav nav > .header--mainnav_left {width:100%;text-align:left;}
    .header--mainnav nav > .header--mainnav_right {display:none;}
    .header--mainnav_left ul {
        width:100%;
        margin-left: 230px;
    }
}

.featured {
    margin-top:90px;
    margin-bottom:110px;
    font-family:$fontOswald;
    a {text-decoration:none;}
    @include media($tablet-v) {
        margin-top: 45px;
        margin-bottom:50px;
    }
    @include media($mobile) {
        display:none;
    }
    ul {
        width:100%;
        display: table;
    }
}
.featured--item {
    @include span-columns(4, table);
    vertical-align: top;
    border-top:2px solid $clrOcre;
    position:relative;
    overflow:hidden;
    & + & {border-left:2px solid white;}
    @include media($tablet-v) {
        @include span-columns(4, table);
        &:last-child {display:none;}
    }
    @include media($mobile) {
        @include span-columns(4, table);
        &:last-child {display:none;}
    }
}
.featured--category {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    text-align:center;
    line-height:11px;
    span {
        margin:0 auto;
        display:inline-block;
        padding:6px 8px;
        background-color:$clrOcre;
        color:$clrWhite;
        font-size:11px;
        text-transform: uppercase;
    }
}
.featured--details {
    position:absolute;
    width:100%;
    bottom:0;
    font-size:17px;
    color:black;
    padding:10px 15px;
    font-weight:400;
    background-color:rgba(255,255,255,0.5);
    .featured--excerpt {
        height: 0;
        overflow: hidden;
        font-weight: 300;
        line-height: 20px;
        @include transition(all .25s ease);
    }
}
.featured--title {
    font-weight:400;
    text-transform:uppercase;
    font-family: $fontStint;
    font-size: 25px;
}
.featured--item:hover {
    .featured--excerpt {
        margin-top:5px;
        height:auto;
        overflow: visible;
    }
}
.header--search {
	overflow-x:hidden;
	position: absolute;
	right:0;
    top:5px;
    font-size:23px;
    @include media($mobile) {top:4px;}
    @include transition(all 0.6s ease);
    * {@include transition(all 0.6s ease);}
	.searchform {position:relative;}
    .search-box {
        width: 56px;
        height: 56px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        @include media($tablet-v) {height: 50px;width: 50px;}
        @include media($mobile) {height: 49px;width: 49px;}
    }

    .search-box + label .search-icon {
        color: $clrMediumGrey;
    }

    .search-box:hover {
        color: $clrMediumGrey;
    }

    .search-box:hover + label .search-icon {
        color: $clrDarkGrey;
    }

    .search-box:focus {
        -webkit-transition: width 0.6s ease, border-radius 0.6s, background 0.6s;
        transition: width 0.6s ease, border-radius 0.6s, background 0.6s;
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        display: inline;
        font-size: 17px;
        font-family: $fontOswald;
        background: white;
        color: $clrGrey;
        @include media($tablet-desktop) {width: 350px;}
        @include media($mobile) {width: 310px;font-size: 14px}
    }

    .search-box:focus + label .search-icon {
        color: $clrDarkGrey;
    }

    .search-box:not(:focus) {
        text-indent: -5000px;
    }

    #search-submit {
        position: relative;
        left: -5000px;
        display: none;
    }

    .search-icon-label {
        position: absolute;
        right: 16px;
        top: 15px;
        @include media($tablet-v) {top:12px;right:14px;}
        @include media($mobile) {top:12px;right:14px;}
    }
}