/******************************************************
	 ELEMENTS DE STYLES RECURRENTS
******************************************************/

/* SOMMAIRE
---------------------------------------------------- */
/* Sommaire : ctrl+F les intitulés suivants pour retrouver les parties concernées */

// GENERALITÉS
// HELPERS RESPONSIVE


/* GENERALITÉS
---------------------------------------------------- */

// DISPLAY & OVERFLOW
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.hide { display:none !important; }
.overflow-y-auto { position: relative; overflow: hidden; overflow-y: auto; }
.overflow-hidden { position: relative; overflow: hidden; }
.clearfix {@include clearfix;}

// FLOTTEMENT
.right { float: right !important; }
.left { float: left !important; }

// IMAGES
img.right { margin:5px 0 5px 5px; }
img.left { margin: 5px 5px 5px 0; }
img {
    vertical-align:middle;
    max-width:100%;
    @-moz-document url-prefix() {  
        max-width: -moz-max-content;
        width:100%;
    }
}


.btn {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    padding: 8px 7px;
    width: auto;
    height: auto;
    margin-bottom: 0;
    margin-top: 0px;
    color:white;
    font-family: $fontOswald;
    border:0;
    -moz-appearance: none;
    -webkit-appearance: none;
    &.btn-turquoise {
        background-color:$clrTurquoise;
        &:hover, &:focus {background-color:$clrTurquoiseActive;}

    }
}