/******************************************************
	 STYLES DE LA PAGE D'ACCUEIL
******************************************************/

.home-section--title {
    text-transform: uppercase;
    font-family: $fontStint;
    font-size:33px;
    font-weight: 400;
    margin-bottom:45px;
    background: url(assets/images/dot-separator.png) repeat-x left center;
    span {
        background-color: white;
        padding: 0 15px 5px 10px;
        line-height: 25px;
        display: inline-block;
    }
    &:before {
        @extend .icon;
        @extend .icon-arabesque:before;
        color:$clrTurquoise;
        background:white;
        margin-top: -8px;
        width: 39px;
        text-align: left;
        height: 30px;
    }
    @include media($mobile) {
        margin-bottom: 20px;
        font-size:28px;
    }
}

.home-section {
    @include clearfix;
    margin-bottom:50px;
    margin-top: 50px;
    &:first-child {margin-top:0;}
    ul {
        @include clearfix;
    }
    a {text-decoration: none;}
    .btn {
        margin:0 auto;
        padding:8px 30px;
        display:block;
    }
    &:first-child {
        @include media($mobile) {
            margin-top:40px;
        }
    }
}
.home-section--more {
    font-family: $fontOswald;
    font-size:14px;
    color:$clrGrey !important;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    border-bottom: 1px solid!important;
    &:hover {color:$clrLightGrey !important;}
    @include media($mobile) {
        margin-top:30px;
    }
}
.home-section--item {
    
    margin-bottom:45px;
    border-top:2px solid $clrOcre;
    @include media($desktop) {@include span-columns(3 of 9);@include omega(3n);}
    @include media($tablet-h) {@include span-columns(3 of 9);@include omega(3n);}
    @include media($tablet-v) {@include span-columns(2 of 4);@include omega(2n);}
    @include media($mobile) {margin-bottom:20px;}
}

.home-section--item_icon {
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    padding:6px 0;
    width:43px;
    height:46px;
    background-color:$clrOcre;
    color:$clrWhite;
    font-size:26px;
    z-index:1;
}
.home-section--item_hover {
    font-family: $fontOswald;
    color:black;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background-color:rgba(255,255,255,0.75);
    text-align: center;
    padding:40px 30px;
    z-index:0;
    opacity:0;
    @include transition(opacity .25s ease);
    &:before,
    &:after {
        
        position: absolute;
        content: '';
        opacity: 0;
        @include transition(opacity .25s ease, transform 0.25s ease);
    }
    &:before {
        top: 10px;
        right: 0px;
        bottom: 10px;
        left: 0px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;   
    }
    &:after {
        top: 0px;
        right: 10px;
        bottom: 0px;
        left: 10px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
}

.home-section--item_date {
    text-transform: uppercase;
    font-size:13px;
    display: block;
    margin-bottom:10px;
    @include transform(translate3d(0,-30px,0));
    @include transition(opacity .25s ease, transform 0.25s ease);
}
.home-section--item_excerpt {
    font-weight: 300;
    font-size:16px;
    line-height: 20px;
    @include transform(translate3d(0,-10px,0));
    @include transition(opacity .25s ease, transform 0.25s ease);
}
.home-section--item_header {
    position: relative;
    &:hover {
        .home-section--item_hover,
        .home-section--item_date,
        .home-section--item_excerpt {
            opacity:1;
        }
        .home-section--item_date,
        .home-section--item_excerpt  {
            @include transform(translate3d(0,0,0));
        }
        .home-section--item_excerpt {
            
        }
        .home-section--item_hover:after,
        .home-section--item_hover:before {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
        }
    }
    
}
.home-section--item_comments {
    position:absolute;
    bottom:0;
    right:0;
    text-align:center;
    padding:6px;
    width:45px;
    height:25px;
    background-color:$clrOcre;
    color:$clrWhite;
    font-family: $fontOswald;
    font-size:13px;
    z-index:1;
    i {font-size: 120%;}
}
.home-section--item_img img {display: block;width: 100%;}
.home-section--item_title {
    margin-top:10px;
    font-family:$fontStint;
    font-weight:400;
    text-transform: uppercase;
    text-align:center;
    line-height: 1.2;
    font-size:22px;
}

.sidebar {
    .sidebar--widget_title {
        text-transform: uppercase;
        font-family: $fontStint;
        font-size:33px;
        font-weight: 400;
        margin-bottom:30px;
        text-align: center;
        background: url(assets/images/dot-separator.png) repeat-x left center;
        span {
            background-color: white;
            padding: 0px 10px;
            line-height: 25px;
            display: inline-block;
        }
    }
    .sidebar--widget {
        margin-bottom:50px;
        margin-top:50px;
        &:first-child{margin-top:0;}
        &:last-child {
            margin-bottom:0;
        }
        &:before {
            @extend .icon;
            @extend .icon-arabesque:before;
            color:$clrTurquoise;
            display: block;
            font-size: 42px;
            margin-bottom: 9px;
            line-height:32px;
        }
        &.newsletter:before {@extend .icon-newsletter:before; font-size: 38px;line-height:1;}
        &.interview:before {@extend .icon-interview:before;font-size: 30px;line-height:1;}
        &.nouveau:before {@extend .icon-location:before; font-size: 35px;line-height:1;}
        &.instagram:before {@extend .icon-instagram:before; font-size: 35px;line-height:1;}
        &.ads:before {content:none;}
    }
    .sidebar--widget.welcome {
        font-size: 13.5px;
        text-align:center;
        .welcome--intro {
            text-align:left;
            line-height:17px;
            margin:0 0 30px 0;
            @include clearfix;
        }
        .welcome--img {
            float: left;
            border-radius: 50%;
            overflow: hidden;
            width: 120px;
            height: 120px;
            position:relative;
            margin-right: 15px;
            img {
                position: absolute;
                max-width: none;
                height: auto;
                width: auto;
                max-height: 100%;
                
            }
        }
        a.welcome--more {
            font-family: $fontOswald;
            text-transform:uppercase;
            text-decoration: none;
            font-size:13px;
            color:$clrOcre;
            font-weight: 400;
            line-height: 20px;
            &:hover {color: $clrOcreActive;}
        }
        .welcome--social {
            padding:0 15px;
            li {display:inline-block;}
            li + li {margin-left:4px;}
            a {
                background:$clrLightGrey;
                color:$clrWhite;
                text-decoration:none;
                border-radius: 50%;
                height:40px;
                width:40px;
                line-height:40px;
                text-align:center;
                display:block;
                font-size: 0;
                margin-bottom:8px;
                @include transition(background-color .25s ease);
            }
            a:hover {
                background-color:$clrOcre;
            }
            i {
                font-size: 24px;
            }
            i:before {vertical-align: baseline;}
        }
    }
    .sidebar--widget {
        #wpmchimpaw-1 .wpmchimpa-signalc {
            height:auto !important;
        }
        #wpmchimpaw-1 .wpmchimpa-subs-button {
            text-transform: uppercase;
            display:inline-block;
            font-size:16px;
            padding:8px 7px;
            width:auto;
            height:auto;
            margin-bottom:0;
            margin-top:0px;
            float: right;
            &:before {
                line-height:1;
                display:inline;
            }
        }
        #wpmchimpaw-1 .wpmchimpa-field select, #wpmchimpaw-1 input[type="text"] {
            border-radius:none;
            border-color:$clrLightestGrey; 
        }
        #wpmchimpaw-1 .wpmchimpa-field {
            margin: 0 auto 7px auto;
        }
    }
    .sidebar--widget.widget_text {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 23px;
        p + P {margin-top:10px;}
        a.bottom-link {
            font-family: $fontOswald;
            text-decoration:none;
            color:$clrOcre;
            font-weight: 400;
            margin-top:20px;
            display:inline-block;
            &:hover {color: $clrOcreActive;}
        }
    }
    .sidebar--widget.instagram {
        ul {@include clearfix;}
        li {
            float: left;
            display: block;
            width: 30.66%;
            margin-right:4%;
            margin-bottom:4%;
            @include omega(3n);
            a {
                text-decoration:none;
                display: block;
                @include transition(opacity .25s ease);
                opacity:0.7;
            }
            a:hover {opacity:1}
        }
    }
}

#wpmchimpas-trig,
#wp-admin-bar-site-name,
#wp-admin-bar-customize {display:none !important} 