/******************************************************
	 STYLES DE LA PAGE DE LIENS
******************************************************/

.page--links {
    .mapcontainer {
        margin-bottom:50px;
    }
    .page--links_intro {
        line-height: 1.5em;
        p + p {margin-top: 20px;}
    }
    .map {
        position:relative;
    }
    .mapTooltip {
        position: absolute;
        background-color: #fff;
        moz-opacity: 0.70;
        opacity: 0.70;
        filter: alpha(opacity=70);
        border-radius: 10px;
        padding: 10px;
        z-index: 1000;
        max-width: 200px;
        display: none;
        color: #343434;
    }
}

.links--section {
    
    .links--section_inner {
        line-height: 1.5em;
        text-align: center;
        margin: 35px auto 15px;
        .links--section_title:before,
        .links--section_title:after {
            content:'★★';
            width:auto;
            display:inline-block;
            font-size:25px;
        }
        .links--section_title:before {margin-right:15px;}
        .links--section_title:after {margin-left:15px;}
        .links--section_title {
            font-family: $fontOswald;
            color:$clrTurquoise;
            text-transform:uppercase;
            font-size:30px;
            white-space: nowrap;
            font-weight:400;
            margin-bottom:20px;
            line-height: 1;
        }
        
        a {
            color: #c79200;
            text-decoration:underline;
        }
    }
}