/******************************************************
   Mixins
******************************************************/

//  ---------------- CLEARFIX  //
@mixin clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: " ";    
        display: block;    
        height: 0;    
        overflow: hidden; 
        clear:both;
    }
}

//  ---------------- FONT-FACE  //
@mixin font-face($font-family, $font-folder, $file-name, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('assets/fonts/#{$font-folder}/#{$file-name}.eot');
      src: url('assets/fonts/#{$font-folder}/#{$file-name}.eot?#iefix') format('embedded-opentype'),
           url('assets/fonts/#{$font-folder}/#{$file-name}.woff') format('woff'),
           url('assets/fonts/#{$font-folder}/#{$file-name}.ttf') format('truetype'),
           url('assets/fonts/#{$font-folder}/#{$file-name}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
// USAGE @include font-face('Nom de la font', 'Dossier', 'Nom du fichier sans extension', 'Font-weight', 'Font-style');



@mixin container($size, $maxWidth, $padding, $clearfix:true) {
    margin-left:auto;
    margin-right:auto;
    @if $clearfix == true {@include clearfix;}

    @if $padding == true {
        @include media($mobile) {
            padding-left:10px;
            padding-right:10px;
        }
    }
    @if $size == small {
        @if $maxWidth == true {
            @include media($desktop)  {max-width:$width-small;}
            @include media($tablet-h) {max-width:$width-small-th;}
            @include media($tablet-v) {max-width:$width-small-tv;}
            @include media($mobile)   {max-width:$width-small-m;}
        } @else if $maxWidth == false  {
            @include media($desktop)  {width:$width-small;}
            @include media($tablet-h) {width:$width-small-th;}
            @include media($tablet-v) {width:$width-small-tv;}
            @include media($mobile)   {width:$width-small-m;}
        } @else if $maxWidth == both {
            @include media($desktop)  {width:$width-small;max-width:$width-small;}
            @include media($tablet-h) {width:$width-small-th;max-width:$width-small-th;}
            @include media($tablet-v) {width:$width-small-tv;max-width:$width-small-tv;}
            @include media($mobile)   {width:$width-small-m;max-width:$width-small-m;}
        }
    } @else if $size == medium {
        @if $maxWidth == true {
            @include media($desktop)  {max-width:$width;}
            @include media($tablet-h) {max-width:$width-th;}
            @include media($tablet-v) {max-width:$width-tv;}
            @include media($mobile)   {max-width:$width-m;}
        } @else if $maxWidth == false  {
            @include media($desktop)  {width:$width;}
            @include media($tablet-h) {width:$width-th;}
            @include media($tablet-v) {width:$width-tv;}
            @include media($mobile)   {width:$width-m;}
        } @else if $maxWidth == both {
            @include media($desktop)  {width:$width;max-width:$width;}
            @include media($tablet-h) {width:$width-th;max-width:$width-th;}
            @include media($tablet-v) {width:$width-tv;max-width:$width-tv;}
            @include media($mobile)   {width:$width-m;max-width:$width-m;}
        }
    } @else if $size == large {
        @if $maxWidth == true {
            @include media($desktop)  {max-width:$width-large;}
            @include media($tablet-h) {max-width:$width-large-th;}
            @include media($tablet-v) {max-width:$width-large-tv;}
            @include media($mobile)   {max-width:$width-large-m;}
        } @else if $maxWidth == false  {
            @include media($desktop)  {width:$width-large;}
            @include media($tablet-h) {width:$width-large-th;}
            @include media($tablet-v) {width:$width-large-tv;}
            @include media($mobile)   {width:$width-large-m;}
        } @else if $maxWidth == both {
            @include media($desktop)  {width:$width-large;max-width:$width-large;}
            @include media($tablet-h) {width:$width-large-th;max-width:$width-large-th;}
            @include media($tablet-v) {width:$width-large-tv;max-width:$width-large-tv;}
            @include media($mobile)   {width:$width-large-m;max-width:$width-large-m;}
        }
    }
}