/******************************************************
	 STYLES DES PAGES D'ARTICLES/PAGES
******************************************************/

.single--image {
    overflow:hidden;
    img {width:100%;max-width: 100%;}
    @include media($desktop)  {height:400px;}
    @include media($tablet-h) {height:410px;}
    @include media($tablet-v) {height:307px;}
    @include media($mobile)   {height:196px;margin-bottom: 20px;}
}
.single--header {
    text-align:center;
    margin-top: -115px;
    margin-bottom:75px;
    @include container(medium, false, true);
}
.single--meta {
    text-align:center;
    & > div {
        background-color:white;
        padding:10px 10px 0 10px;
        display: inline-block;
        font-family: $fontOswald;
        color:$clrTurquoise;
        text-transform: uppercase;
        line-height: 21px;
        font-size: 13px;
    }
    
}
.single--title {   
    font-family: $fontStint;
    font-size:50px;
    text-transform: uppercase;
    background-color:white;
    text-align:center;
    position: relative;
    padding:15px 15px 0 15px;
    font-weight: 400;
    @include media($mobile) {font-size: 34px;}
}

.single--content {
    > p:before, > p:after,
    li:before, li:after {
        clear: none !important;
    }
    
    > p, li {
        line-height: 23px;
        @include container(medium, false, true);
    }
    
    a {color:$clrOcre;}
    
    .single--media {display:block;text-align: center;} 
    
    > p,
    > .single--media,
    > .single--caption,
    > table, 
    > ul,
    > iframe,
    > .final-tiles-gallery {
        margin-bottom:25px;
        @include media($mobile) {margin-bottom:20px;}
    }
    > img.aligncenter,
    > img.alignnone {
        margin-bottom:40px;
        @include media($mobile) {margin-bottom:20px;}
    }
    .alignleft {
        float:left;
        margin-right:45px;
        margin-bottom:45px;
        margin-left: $margin-large;
        @include media($mobile) {
            margin-right: auto;
            float: none;
            margin-left: auto;
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
    > a > .alignleft,
    > .caption.alignleft {
        margin-left: $margin-small;
        @include media($tablet-h) {margin-left: 132px;}
        @include media($tablet-v) {margin-left: 75px;}
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    .alignright {
       float:right;
        margin-left:45px;
        margin-bottom:45px;
        margin-right: $margin-large;
        @include media($tablet-h) {margin-right: -100px;}
        @include media($tablet-v) {
            margin-right: 0;
        }
        @include media($mobile) {
            float: none;
            margin-right: auto !important;
            margin-left: auto !important;
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
    > a > .alignright,
    > .caption.alignright {
        margin-right: $margin-small;
        @include media($tablet-h) {margin-right: 132px;}
        @include media($tablet-v) {margin-right: 75px;}
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    
    > .aligncenter,
    > .alignnone,
    iframe,
    .final-tiles-gallery,
    .tiled-gallery {
        float:none;
        text-align:center;
        display:block;
        @include container(large, true, false);
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    table {
        @include container(large, false, false);
        .alignleft,
        .alignright,
        .aligncenter,
        .alignnone {
            margin-left:0;
            margin-bottom:0;
        }
        tr:not(:first-child) td {padding-top: 5px;}
        td + td {padding-left: 5px;}
        @include media($mobile) {
            margin-left: auto;
            max-width: 100% !important;
            width: auto !important;
            margin-right: auto;
            float: none;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
            margin-bottom: 10px;
        }
    }
    span .alignleft,
    span .alignright {
        @include media($mobile) {margin-top:20px;}
    }
    .caption.alignleft img,
    .caption.alignright img,
    .caption.aligncenter img,
    .caption.alignnone img {
        @include media($mobile) {width:100%;}
    }
    figure.single--caption {
        position:relative;
        figcaption {
            position:absolute;
            bottom:0;
            text-align: left;
            left:0;
            right:0;
            padding:20px 15px;
            color:white;
            pointer-events: none;
            .caption--title {
                font-family: $fontOswald;
                font-size:14px;
                text-transform: uppercase;
                line-height: 1.4;
            }
            .caption--description {
                font-size:11px;
                line-height: 14px;
                margin-top: 6px;
            }
            @include media($mobile) {
                margin-left:10px;
                margin-right:10px;
            }
        }
    }
    ul, li {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 20px;
    }
    li:before {
        content:none;
    }
    li + li {margin-top:10px;}
     
    .ul-star {
        li {
            list-style-type: none;
            &:before {
                content:"★";
                margin-right: 5px;
                height: auto;
                display: inline-block;
            }
        }
    } 
    
    .tiled-gallery + br {
        display:none;
    }
    .tiled-gallery {
        margin-bottom:40px;
        @include media($mobile) {
            margin-bottom:0;
            padding-left: 10px;
            padding-right: 10px;
        }
        .gallery-row {
            margin-left:auto;
            margin-right:auto;
        }
        img {
            @include media($mobile) {
                margin:0 !important;
                padding-bottom: 10px !important;
            }
        }
    }
    .tiled-gallery, 
    .tiled-gallery * {
        @include media($mobile) {
            max-width: 100%;
            width:auto !important;
            height: auto !important;
        }
    }
    
    h2 {
        font-family: $fontStint;
        text-transform:uppercase;
        font-size:40px;
        font-weight:400;
        margin-bottom:40px;
        @include media($mobile) {
            margin-top:30px;
            margin-bottom:20px;
            font-size: 31px;
        }
        @include container(medium, false, true, false);
        &:before {
            @extend .icon;
            @extend .icon-arabesque:before;
            color:$clrTurquoise;
            background:white;
            margin-top: -8px;
            width: 42px;
            margin-right: 15px;
            height: auto;
            display: inline-block;
        }
    }
    > h3 {
        font-family: $fontStint;
        font-size:38px;
        font-weight:400;
        display: table;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 40px;
        @include container(medium, false, true, false);
        @include media($mobile) {
            margin-bottom:20px; 
            padding-left: 0;
            padding-right: 0;
            margin-left: 10px;
            margin-right: 10px;
            width: auto;
        }
        &:after {
            background: url(assets/images/dot-separator.png) repeat-x left center;
            content: '';
            display: table-cell;
            position: relative;
            top: 2px;
            height:11px;
            left: 55px;
            width: 100%;
        }
        &:before {
            background: url(assets/images/dot-separator.png) repeat-x left center;
            content: '';
            height:38px;
            display: inline-block;
            top:2px;
            width:29px;
            float: left;
            margin-right: 15px;
        }
    }
    h4 {
        font-family: $fontOswald;
        font-size:18px;
        text-transform: uppercase;
        color:$clrTurquoise;
        margin-bottom:20px;
        font-weight: normal;
        @include container(medium, false, true, false);
        @include media($mobile) {
            margin-top:20px;
            margin-bottom:10px;
        }
    }
    h5 {
        font-family: $fontOswald;
        font-size:16px;
        text-transform: uppercase;
        color:$clrOcre;
        margin-bottom: 20px;
        font-weight:normal;
        @include container(medium, false, true, false);
    }
    
    hr {
        border:0;
        outline:0;
        height:32px;
        background:url('assets/images/sep.png') no-repeat center center;
        margin-bottom: 50px;
        @include media($mobile) {margin-bottom:30px;}
        @include container(large, false, true);
        &.dotted {
            background:url('assets/images/sep2.png') repeat center center;
            height:6px;
            margin-top: 50px;
        }
        &.arabesque { 
            background:url('assets/images/arabesque-small.png') no-repeat center center;
            height:32px;
            margin-top: -20px;
            margin-bottom: 20px;
        } 
        &.blank { 
            background: none;
            margin-bottom: 20px;
        } 
    }
    .txt-ocre {color:$clrOcre;} 
    .txt-turquoise {color:$clrTurquoise;}  
    .ul-star {
        li {
            list-style-type: none;
            &:before {
                content:"★";
                margin-right: 5px;
            }
        }
    }
}

.wpmchimpa_lock {
    box-shadow: none !important;
    background:none !important;
    padding-bottom: 0 !important;
    @include container(medium, false, true);
    h3,
    .wpmchimpa_para div {
        display:none;
    }
    .wpmchimpa-reset, .wpmchimpa-reset div {color:$clrDarkGrey;}
    .wpmchimpa_lock_ico{
       display:none; 
    }
    .wpmchimpa_lock_h:before,
    .wpmchimpa_verify_h:before{
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        margin-bottom: 20px;
        color: #c79200; 
        line-height: 1.5;
    }
    .wpmchimpa_verify_h:before {
        font-size: 20px !important;
        font-weight: 400 !important;
        text-align: center !important;
        display: block !important;
        line-height: 1.5!important;
        font-family: Oswald !important;
    }
    &.secretload {
        display:none !important;
    }
    &.secretload .wpmchimpa_lock_h:before,
    .wpmchimpa_verify_h:before {
        content:none !important;
    }
    .wpmchimpa_lock_h:after,
    .wpmchimpa_verify_h:after {
        font-size: 14px;
        line-height: 20px;
    }
    .wpmchimpa_verify_cb {
      background-color:#888;
      font-family: Oswald;
      text-transform:uppercase;
      padding:10px;
      margin-top:30px;
    }
    .wpmchimpab .wpmchimpa-field {
        width: 100% !important;
        display:block !important;
        margin: 0 auto 12px auto !important;
    }
}

.wpmchimpab {
    border:0 !important;
    padding:0 !important;
    margin: 0 auto !important;
    width: $width !important;
    h3 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal !important;
        margin-bottom: 20px !important;
        color: $clrOcre !important;
        line-height: 1.5 !important;
        width: auto !important;
    }
    .wpmchimpa-feedback,.wpmchimpa-signalc {
        height:auto;
    }
    .wpmchimpa-field {
        width: 300px !important;
        display: inline-block;
        margin: 0 10px 0 0 !important;
    }
    .wpmchimpa-subs-button {
        display:inline-block !important;
        width: 80px !important;
    }
    .wpmchimpa-subs-button:before {
        line-height: 30px !important;
            color: white;
    }
    .wpmchimpa-field select, 
    input[type="text"],
    input[type="text"] ~ .inputlabel{
        text-align:left !important;
        padding-left:20px !important;
    }
    .wpmchimpa-subs-button {
        text-transform: uppercase;
        display: inline-block;
        font-size: 16px ;
        padding: 8px 7px;
        width: auto;
        height: auto;
        margin-bottom: 0;
        margin-top: 0px;
        float: right;
        color:white;
        &:before {
            line-height:1;
        }
    }
}

.single--nav_container {
    margin-bottom: 50px;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;zoom:1;
    border: 4px solid;
    border-image-source: url("assets/images/mainnav--border.png");
    border-image-slice: 5;
    border-image-width: 5px;
    border-image-repeat: round;
    border-left: 0;
    border-right: 0;
    @include container(large, false, true);
    @include media($mobile) {margin-bottom:30px;}
    a {text-decoration:none;}
    .single--nav_item {
        position:relative;
        &:hover .single--nav_title {
            text-decoration: underline;
        }
        &.prev,
        &.next {
            @include media($mobile) {
                float:none;
                width:100%;
                padding: 0;
            }
        }
        &.next {
            float:right;
            text-align:center;
            padding-right:35px;
            &:after {
                color:$clrLightestGrey;
                position:absolute;
                top:10px;
                right:0;
                @extend .icon;
                @extend .icon-chevron-right:before;
            }
            @include media($mobile) {margin-top: 35px;}
        }
        &.prev {
            float:left;
            text-align:center;
            padding-left:35px;
            &:before {
                color:$clrLightestGrey;
                position:absolute;
                top:10px;
                left:0;
                @extend .icon;
                @extend .icon-chevron-left:before;
            }
        }
        
        span {display:block;}
    }
    .single--nav_heading {
        color:$clrOcre;
        text-transform:uppercase;
        font-family: $fontOswald;
        margin-bottom:10px;
    }
}

.single--author {
    margin: 50px auto 80px;
    border: 1px solid $clrLightestGrey;
    padding:20px;
    @include container(large, false, true);
    @include media($mobile) {
        margin-left:10px;
        margin-right:10px;
        margin-top: 0;
        width:auto;
        margin-bottom: 40px;
    }
}
.single--author_img {
    float:left;
    margin-right:35px;
    img {border-radius: 50%;}
    @include media($mobile) {
        float:none;
        margin:0 auto 20px;
        text-align:center;
    }
} 
.single--author_body {
    float:left;
    @include calc(width, "100% - 160px");
    @include media($mobile) {
        width:100%;
        text-align:center;
    }
}
.single--author_name {
    font-family: $fontOswald;
    font-size:16px;
    text-transform: uppercase;
    color:$clrTurquoise;
    display: block;
    margin-top:5px;
    margin-bottom: 15px;
}
.single--author_desc {
    line-height:22px;
}

.single--sharing {
    @include clearfix;
    margin-bottom:50px;
    text-align: center;
    margin-top:50px;
    @include container(medium, false, true);
    .single--sharing_title {
        font-family: $fontSacramento;
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        font-weight: bold;
    }
    ul {
        margin-top:5px;
        display: inline-block;
        vertical-align: middle;
        @include media($mobile) {margin-top:15px;}
    }
    li {
        display:inline-block;
        vertical-align:top;
        margin-left: 20px;
        @include media($mobile) {
            margin-left:15px;
            &:first-child {margin-left:0;}
        }
    }
    a {
        background:$clrOcre;
        color:$clrWhite;
        text-decoration:none;
        border-radius: 50%; 
        height:40px;
        width:40px;
        line-height:40px;
        text-align:center;
        display:block;
        font-size: 0;
        margin-bottom:8px;
        @include transition(background-color .25s ease);
    }
    a:hover {
        background-color:$clrLightGrey;
    }
    i:before {
        font-size: 24px;
        vertical-align: baseline;
        line-height: 40px;
    }
}

.jp-relatedposts {
    margin-bottom:80px;
    @include clearfix;
    @include media($mobile) {margin-bottom:35px;}
}
.jp-relatedposts-title {
    font-family: $fontOswald;
    text-align:center;
    text-transform: uppercase;
    font-size:24px;
    font-weight: 400;
    margin-bottom:30px;
    @include media($mobile) {
        padding-left:10px;
        padding-right:10px;
        line-height:1.3;
    }
}
.jp-relatedposts-items {
    @include container(large, false, true);
}
.jp-relatedposts-post {
    @include span-columns(3 of 12);
    @include media($tablet-v) {@include span-columns(4 of 8);@include omega(2n);}
    @include media($mobile) {@include span-columns(8 of 8);@include omega(1n);}
}
.jp-relatedposts-post + .jp-relatedposts-post {
    @include media($mobile) {margin-top:20px;}
}
.jp-relatedposts-post-title {
    font-family: $fontStint;
    text-transform:uppercase;
    font-weight: 400;
    font-size: 21px;
    margin-top: 10px;
    line-height: 22px;
    a{text-decoration:none;}
}
.jp-relatedposts-post img {
    border-top: 2px solid $clrOcre;
    @include media($mobile) {width:100%}
}
.jp-relatedposts-post-excerpt,
.jp-relatedposts-post-date {display:none;}

.comments--title {
    font-family: $fontOswald;
    text-align:center;
    text-transform: uppercase;
    font-size:24px;
    font-weight: 400;
    margin-bottom:30px;
    border-top:1px dashed $clrOcre;
    padding-top:30px;
    @include container(large, true, true);
}
.comments--list {
    @include container(medium, false, true);
}
.comment--container {
    background-color:#f8f8f8;
    border:1px solid #ebebeb;
    padding:20px 20px 0 20px;
    margin-bottom:35px;
    position:relative;
    z-index: 1;
}
.comment--author-ribbonwrapper {
     width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
}
.comment--author-ribbon {
    font-family: $fontOswald;
    text-transform: uppercase;
    font-size:15px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: $clrTurquoise;
    color: white;
}
.comment--header {
    @include clearfix;
}
.comment--header .avatar {
    float:left;
}
.comment--meta {
    float: left;
    margin-left: 20px;
}
.comment--author {
    font-family: $fontOswald;
    font-size:21px;
    font-weight: 400;
    text-transform: uppercase;
    color:$clrOcre;
    display:block;
    margin-top:18px;
    margin-bottom:10px;
    a {
        color:$clrOcre;
        text-decoration: none;
    }
}
.comment--datetime {
    font-family: $fontOswald;
    font-size:13px;
    text-transform: uppercase;
    color:$clrDarkGrey;
    display:block; 
    a {
        color:$clrDarkGrey;
        text-decoration: none;
    }
}
.comment--body {
    @include clearfix;
    margin-top:15px;
    padding-bottom:45px;
    line-height: 1.5;
}
.comment--footer {
    position:absolute;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    text-align:right;
    padding-right:10px;
    border-bottom:2px solid $clrOcre;
    a {
        text-decoration:none;
        color:white;
        text-transform: uppercase;
        font-family: $fontOswald;
        background-color: $clrOcre;
        padding: 7px 8px 4px 8px;
        display: inline-block;
        margin-right:10px;
        font-size:14px;
    }
}
.comment.parent {
    position:relative;
    > .comment--container:before {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        height: 87px;
        bottom: -87px;
        left: 16px;
        border-left: 2px solid $clrOcre;
    }
    .children {
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 17px;
            border-left: 2px solid $clrOcre;
        }
        li {
            position:relative;
            margin-left:40px;
            &:before {
                content: "";
                display: block;
                width: 24px;
                height: 0;
                margin-top: -1px;
                position: absolute;
                top: 50px;
                left: -21px;
                border-top: 2px solid $clrOcre;
               
            }
            &:last-child:before {
                background: white;
                height: auto;
                top: 50px;
                bottom: 0;
                left: -23px;
            }
        }
    }
}

.comments--reply-title {
    font-family: $fontOswald;
    text-align:center;
    text-transform: uppercase;
    font-size:28px;
    font-weight: 400;
    margin-bottom:30px;
}
.comment-respond {
    margin-top:100px;
    margin-bottom:100px;
    @include container(medium, false, true);
    .form-submit {
        text-align:right;
        margin-top:20px;
    }
    .submit {
        background-color:$clrTurquoise;
        color:white;
        border:none;
        font-family: $fontOswald;
        text-transform: uppercase;
        padding: 8px 15px;
        -moz-appearance: none;
        -webkit-appearance: none;
        &:hover {
            background-color:$clrTurquoiseActive;
        }
    }
}
.comment-notes, .logged-in-as {
    margin-bottom:30px;
}
.form--label-line {
    font-family: $fontOswald;
    font-size:17px;
    color:$clrDarkGrey;
    text-transform: uppercase;
    margin-bottom:7px;
    .required {color:$clrTurquoise;}
}
.form--line input,
.form--line textarea {
    width: 100%;
    padding: 10px;
    font-family: $fontOpenSans;
    border:1px solid #d5d5d5;
}
.form--line + .form--line {
    margin-top:30px;
}
.comment--form-allowed-tags {
    line-height: 1.4;
    margin-bottom: 30px;
}

.final-tiles-gallery.hover-slide-top .tile {
    .caption {
        background: transparent !important;
        bottom: 0 !important;
        height: auto !important;
        top: auto !important;
        text-align: left !important;
        opacity: 1 !important;
        display: block !important;
        padding: 20px 15px !important;
        .title {
            font-family: $fontOswald;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.4;
            font-weight:400 !important;
        }
        .text {
            display: block !important;
            text-align: left;
            font-size:11px;
            line-height: 14px;
            margin-top: 6px;
            padding:0 !important;
        }
    }
    
} 

.tiled-gallery-caption {
    display:block !important;
    background-color:transparent!important;
    padding: 20px 15px !important;
    margin:0!important;
    color: white !important;
    text-align: left;
    font-family: $fontOswald;
    font-size: 14px !important;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight:400 !important;
    height:auto!important;
}
