/******************************************************
   TYPOGRAPHIE
******************************************************/
[class^="icon-"]:before,
[class*=" icon-"]:before,
.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


.icon-folder:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-hellocoton:before { content: '\e802'; } /* '' */
.icon-alimentaire:before { content: '\e803'; } /* '' */
.icon-differences:before { content: '\e804'; } /* '' */
.icon-grossesse:before { content: '\e805'; } /* '' */
.icon-oregon:before { content: '\e806'; } /* '' */
.icon-usa:before { content: '\e807'; } /* '' */
.icon-pinterest:before { content: '\e808'; } /* '' */
.icon-rss:before { content: '\e809'; } /* '' */
.icon-contact:before { content: '\e80a'; } /* '' */
.icon-instagram:before { content: '\e80b'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-arabesque:before { content: '\e80d'; } /* '' */
.icon-ffap:before { content: '\e80e'; } /* '' */
.icon-newsletter:before { content: '\e80f'; } /* '' */
.icon-interview:before { content: '\e810'; } /* '' */
.icon-expatriation:before { content: '\e811'; } /* '' */
.icon-video:before { content: '\e812'; } /* '' */
.icon-truck:before { content: '\e813'; } /* '' */
.icon-portland:before { content: '\e814'; } /* '' */
.icon-boire:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-star:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-close:before { content: '\e819'; } /* '' */
.icon-home:before { content: '\e81a'; } /* '' */
.icon-chevron-left:before { content: '\e81b'; } /* '' */
.icon-chevron-right:before { content: '\e81c'; } /* '' */
.icon-eye:before { content: '\e81d'; } /* '' */
.icon-plane:before { content: '\e81e'; } /* '' */
.icon-comments:before { content: '\e81f'; } /* '' */
.icon-twitter:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\e821'; } /* '' */
.icon-globe:before { content: '\e822'; } /* '' */
.icon-social:before { content: '\e823'; } /* '' */
.icon-google-plus:before { content: '\e824'; } /* '' */
.icon-health:before { content: '\e825'; } /* '' */
.icon-suitcase:before { content: '\e826'; } /* '' */
.icon-manger:before { content: '\e827'; } /* '' */
.icon-calendar:before { content: '\e828'; } /* '' */
.icon-youtube:before { content: '\e829'; } /* '' */
.icon-administratif:before { content: '\e82a'; } /* '' */
.icon-recipes:before { content: '\e82b'; } /* '' */
.icon-up-open:before { content: '\e82c'; } /* '' */
.icon-ballon:before { content: '\e82d'; } /* '' */

/* TITRES 
---------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {

}
h1 {
	
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}