/* GRILLE
---------------------------------------------------- */

$grid-columns: 12 !global;
$gutter:    em(20px) !global;
$max-width: 1200px !global;
$visual-grid: false !global;


/* TYPOS 
---------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

@font-face {
  font-family: 'fontello';
  src: url('assets/fonts/fontello.eot?39146968');
  src: url('assets/fonts/fontello.eot?39146968#iefix') format('embedded-opentype'),
       url('assets/fonts/fontello.woff?39146968') format('woff'),
       url('assets/fonts/fontello.ttf?39146968') format('truetype'),
       url('assets/fonts/fontello.svg?39146968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; 
}

$fontOpenSans: 		'Open Sans', sans-serif;
$fontOswald: 		'Oswald', sans-serif;
$fontStint: 		'Stint Ultra Condensed', serif;
$fontSacramento: 	'Sacramento', cursive;


$width: 700px; 
$width-th: 700px; 
$width-tv: 700px; 
$width-m: 100%; 

$width-small: 600px; 
$width-small-th: 600px; 
$width-small-tv: 600px; 
$width-small-m: 600px; 

$width-large:1050px;
$width-large-th:900px;
$width-large-tv:700px;
$width-large-m:100%;

$margin-large:-175px;
$margin-large-th:-175px;
$margin-large-tv:-175px;
$margin-large-m:-175px;

$margin-small:75px;
$margin-small-th:75px;
$margin-small-tv:75px;
$margin-small-m:75px;


/* COULEURS
---------------------------------------------------- */
$clrTurquoise:		    #18a096;
$clrTurquoiseActive:    darken($clrTurquoise, 5%);
$clrOcre:			    #c79200;
$clrOcreActive:	        darken($clrOcre, 5%);
$clrWhite:			    #ffffff;
$clrGrey:	            #565656;
$clrDarkGrey:	        #333333;
$clrMediumGrey:         #626262;
$clrLightGrey:          #919191;
$clrLightestGrey:       #bdbdbd;
